<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<form method="post" id="form">
    <input type='text' name='nome' id='nome' required placeholder="Nome do produto">
    <input type='number' name='preco' id='preco' placeholder="Preco">
 
    <select name='tipo'>
            {%for tipo in tipos%}   
        <option value='{{tipo.id}}'> {{tipo.tipo}} </option>
        {%endfor%}
    </select>
    <input type='submit'>
</form>


<table>
    <tr>
        <th>id</th>
        <th>nome</th>
        <th>preço</th>
    </tr>

    
{% for produto in lista_produtos %}
    <tr>
        <td>{{ produto.id }}</td>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.preco }}</td>
    </tr>
{%endfor%}
</table>

<a href='tipo'>Cadastrar tipos</a>



